[uwsgi]
vaccum = true
log-reopen = true
thunder-lock = true

#
# socket config
#
socket = /run/{{ appname }}/{{ appname }}.sock
chmod-socket=770
uid = {{ appname }}
gid = nginx-{{ appname }}

#
# wsgi config
#
master = true
processes = 4
enable-threads = true

#
# Logging configuration
#
logto = /var/log/{{ appname }}.log
disable-logging = true

#
# Python configuration
#
virtualenv = /opt/{{ appname }}/env

#
# application configuration
#
module = {{ appname }}
callable = app


#
# Environment
#
for-readline = /opt/{{ appname }}/{{ web_env }}.envrc
    env = %(_)
end-for =
