[Unit]
Description=Socket for uWSGI Emperor

[Socket]
# Change this to your uwsgi application port or unix socket location
ListenStream=/opt/{{ appname }}.sock
SocketUser={{ appname }}
SocketGroup=nginx

[Install]
WantedBy=sockets.target
